.outerContainer {
  background-color: #202124;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 600px;
  background-color: white;
  height: 600px;
  border-radius: 5px 0 0 5px;
}
